html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 1rem;
}