html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f6e5e5;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 700px;
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(234, 121, 7);
  font-family: 'Space Mono', 'Courier New', Courier, monospace; 
}

h1 {
  text-align: center;
  font-size: 3rem;
}

h2 {
  font-size: 1.8rem;
}

img {
  display: block;
  border-radius: 20px;
  max-width: 80%;
  margin: auto;
}

p {
  font-size: 1.3rem;
}

li {
  font-size: 1.2rem;
}

.main-links {
  font-size: 1.5rem;
}

.main-links li {
  list-style-type: none;
}

.main-links a {
  text-decoration: none;
}

.return-main-page {
  font-size: 1.5rem;
}

.author-info {
  text-align: center;
  background-color: #a6c0c9;
  font-size: 1.4rem;
}