html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 700px;
  padding: 1rem;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

img {
  display: block;
  border-radius: 20px;
  max-width: 80%;
  margin: auto;
}

.main-links {
  font-size: 1.5rem;
}

.main-links a {
  text-decoration: none;
}