* {
    box-sizing: border-box;
}

body {
    background-color: rgb(246, 235, 237);
    font-family: Inter, "Times New Roman", sans-serif;
}

h1 {
    color: #f37e0f;
    font-family: "Jetbrains Mono", "Maple Mono", monospace;
}

h2 {
    color: hsl(29, 100%, 50%);
    font-family: "Jetbrains Mono", "Maple Mono", monospace;
}

h3 {
    color: hsl(29, 100%, 50%);
    font-family: "Jetbrains Mono", "Maple Mono", monospace;
}

p {
    color: #000000;
    line-height: 1rem;
}

ul,
ol {
    color: #ad5c2a;
}

li::marker {
    color: green;
}